<div class="main-container">
  <div class="container">
    <div class="page-title sign-up-title">
      新規職員登録
    </div>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

      <div class="field">
        <%= f.label :職員番号, {class: 'sign-up-text'} %><br />
        <%= f.text_field :number, class:"sign-up-form",autofocus: true, maxlength: "4" %>
      </div>

      <div class="field">
        <%= f.label :所属部署（職種）, {class: 'sign-up-text'} %><br />
        <%= f.collection_select(:department_id, Department.all, :id, :name, {}, {class:"sign-up-form", id:"department"}) %>
      </div>
      
      <div class="field">
        <%= f.label :氏名, {class: 'sign-up-text'} %><br />
        <%= f.text_field :name, class:"sign-up-form" %>
      </div>
      
      <div class="field">
        <%= f.label :メールアドレス, {class: 'sign-up-text'} %><br />
        <%= f.email_field :email, class:"sign-up-form" %>
      </div>

      <div class="field">
        <%= f.label :パスワード, {class: 'sign-up-text'} %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上の半角英数字)</em>
        <% end %><br />
        <%= f.password_field :password, class:"sign-up-form"%>
      </div>

      <div class="field">
        <%= f.label :パスワードをもう一度入力, {class: 'sign-up-text'} %><br />
        <%= f.password_field :password_confirmation, class:"sign-up-form" %>
      </div>

      <div class="actions">
        <%= f.submit "職員登録" %>
      </div>
    <% end %>
  </div>
</div>