<div class="patient-update-main">
  <div class= "title">
    <h2>患者の情報を入力</h2>
  </div>
  <%= form_with(model: @patient, local: true) do |f| %>

      <%#= render 'shared/error_messages', model: f.object %>

    <div class="basic-information">
      患者基本情報
      <div class="category patient-number">
        <div class="weight-bold-text">
          患者ID
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :number, class:"input-form", id:"patient-number", placeholder:"半角数字8桁", maxlength:"8" %>
      </div>
      
      <div class="category patient-name">
        <div class="weight-bold-text">
          氏名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :name, class:"input-form", id:"patient-name", placeholder:"名字と名前の間に全角スペースを入れてください", maxlength:"10" %>
      </div>
      <div class="category patient-name-kana">
        <div class="weight-bold-text">
          氏名（カタカナ）
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :name_kana, class:"input-form", id:"patient-name-kana", placeholder:"名字と名前の間に全角スペースを入れてください", maxlength:"10" %>
      </div>
      <div class="category patient-birthday">
        <div class="weight-bold-text">
          生年月日
          <span class="indispensable">必須</span>
        </div>
        <div class='input-form date'>
          <%= raw sprintf(
            f.date_select(
              :birthday,
              class:'birthday',
              id:"birthday",
              use_month_numbers: true,
              prompt:'--',
              start_year: 1910,
              end_year: (Time.now.year - 5),
              date_separator: '%s'),
            "  年 ", "  月 ") + "  日 " %>
        </div>
      </div>
      <div class="category patient-age">
        <div class="weight-bold-text">
          年齢
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :age, class:"input-form", id:"patient-age", placeholder:"半角数字で入力" %>
      </div>
      <div class="category patient-gender">
        <div class="weight-bold-text">
          性別
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"input-form", id:"patient-gender"}) %>
      </div>
      <div class="category hospitalization-date">
        <div class="weight-bold-text">
          入院日(入院患者登録の場合のみ)
        </div>
        <div class='input-form date'>
          <%= raw sprintf(
            f.date_select(
              :hospitalization_date,
              class:'hospitalization-date',
              id:"hospitalization-date",
              use_month_numbers: true,
              prompt:'--',
              start_year: 2022,
              end_year: (Time.now.year + 10),
              date_separator: '%s'),
            "年 ", "月 ") + "日 " %>
        </div>
      </div>
      <div class="category hospitalization-date">
        <div class="weight-bold-text discharge">
          退院日<br>
        </div>
        <div class='input-form date'>
          <%= raw sprintf(
            f.date_select(
              :discharge_date,
              class:'hospitalization-date',
              id:"hospitalization-date",
              use_month_numbers: true,
              prompt:'--',
              start_year: 2022,
              end_year: (Time.now.year + 10),
              date_separator: '%s'),
            "年 ", "月 ") + "日 " %>
        </div>
      </div>
      <div class="category patient-disease">
        <div class="weight-bold-text">
          主病名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :disease, class:"input-form", id:"patient-disease", maxlength:"20" %>
      </div>
      <div class="category patient-state">
        <div class="weight-bold-text">
          現在の状況
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:state_id, State.all, :id, :name, {}, {class:"input-form", id:"patient-state"}) %>
      </div>
      <div class="category patient-ward">
        <div class="weight-bold-text">
          病棟
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:ward_id, Ward.all, :id, :name, {}, {class:"input-form", id:"patient-ward"}) %>
      </div>
      <div class="category patient-doctor">
        <div class="weight-bold-text">
          主治医
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:doctor_id, Doctor.all, :id, :name, {}, {class:"input-form", id:"patient-doctor"}) %>
      </div>
    <% if @patient.accept_existence_id == 2 %>  
      <div class="accept-information">
        転院調整情報
        <div class="category accept_expected-date">
          <div class="weight-bold-text discharge">
            入院希望日<br>
          </div>
          <div class='input-form date'>
            <%= raw sprintf(
              f.date_select(
                :accept_expected_date,
                class:'accept_expected-date',
                id:"accept_expected-date",
                use_month_numbers: true,
                prompt:'--',
                start_year: 2022,
                end_year: (Time.now.year + 10),
                date_separator: '%s'),
              "年 ", "月 ") + "日 " %>
          </div>
        </div>
        <div class="category patient-address">
          <div class="weight-bold-text">
            住所
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :address, class:"input-form", id:"patient-address", placeholder:"(例)兵庫県神戸市", maxlength:"15" %>
        </div>
      </div>
    <% end %>
    <div class="discharge-information">
      退院調整情報(※の項目は退院調整情報と共通)
      <div class="category discharge-expected-date">
        <div class="weight-bold-text discharge">
          退院予定(希望)日<br>
        </div>
        <div class='input-form date'>
          <%= raw sprintf(
            f.date_select(
              :discharge_expected_date,
              class:'discharge_expected-date',
              id:"discharge_expected-date",
              use_month_numbers: true,
              prompt:'--',
              start_year: 2022,
              end_year: (Time.now.year + 10),
              date_separator: '%s'),
            "年 ", "月 ") + "日 " %>
        </div>
      </div>
      <div class="category before-hospitalization">
        <div class="weight-bold-text">
          入院前施設 ※
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :before_hospitalization, class:"input-form", id:"before-hospitalization", placeholder:"(例)自宅・特養◯◯など", maxlength:"20" %>
      </div>
      <div class="category key-person-relationship">
        <div class="weight-bold-text">
          キーパーソン ※
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :key_person_relationship, class:"input-form", id:"key-person-relationship", placeholder:"いない場合は「なし」と入力", maxlength:"10" %>
      </div>
      <div class="category key_person_address">
        <div class="weight-bold-text">
          キーパーソン住所
        </div>
        <%= f.text_field :key_person_address, class:"input-form", id:"key_person_address", maxlength:"10" %>
      </div>
      <div class="category remarks">
        <div class="weight-bold-text">
          家族背景・その他 ※
        </div>
        <%= f.text_area :remarks, class:"input-form remarks", id:"remarks", placeholder:"(例)同居の妻は入院中など", maxlength:"50" %>
      </div>
      <div class="category adjustment-manager">
        <div class="weight-bold-text">
          担当者 ※ 
        </div>
        <%= f.collection_select(:adjustment_manager_id, AdjustmentManager.all, :id, :name, {}, {class:"input-form", id:"adjustment-manager"}) %>
      </div>
    </div>
    <div class="comment">
      ※入院する場合は入院日と状況を変更してください<br>
      ※退院する場合は退院日と状況を変更してください
    </div>
    <div class="submit-completion">
      <div class='submit-btn'>
        <%= f.submit "編集完了" ,class:"submit-orange-btn" %>
      </div>
    </div>
  <% end %>
</div>