<%= form_with(url: search_patients_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "患者を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
検索結果
<table class="table", border="1">
  <tr>
    <th> 入院日 </th>
    <th> 患者氏名 </th>
    <th> 年齢 </th>
    <th> 性別 </th>
    <th> 主病名 </th>
    <th> 主治医 </th>
    <th> 担当者 </th>
    <th> 病棟 </th>
  </tr>
  <% @patients.each do |patient| %>
    <tr>
      <td class="hospitalization_date"><%= l patient.hospitalization_date, default: '-' %></td>
      <td class="name"><%= link_to patient.name, patient_path(patient.id), method: :get, class:"link" %></td>
      <td class="age"><%= patient.age %></td>
      <td class="gender"><%= patient.gender.name %></td>
      <td class="disease"><%= patient.disease %></td>
      <td class="doctor"><%= patient.doctor.name %></td>
      <td class="manager"><%= patient.adjustment_manager.name %></td>
      <td class="ward"><%= patient.ward.name %></td>
    </tr>
  <% end %>
</table>