<!DOCTYPE html>
<html>
  <head>
    <title>PatientsManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <div class="upper-header">
        <div class="logo">
          <%= link_to image_tag("logo.png", size: '185x50', class:"logo-mark"), "/" %>
        </div>
        <% if user_signed_in? %>
          <div class="header-nav">
            <%= link_to(current_user.name, user_path(current_user.id), { class: "header-name" }) %>
            <%= link_to("ログアウト", destroy_user_session_path, { method: :delete, class: "post"}) %>
          </div>
        <% else %>
          <div class="header-nav">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
      <div class="lower-header">
        <div class="main-item" id="current-lists" >
          入院患者一覧
        </div>
        <%= link_to "入院前患者", before_hospitalization_patients_path, class: "main-item" %>
        <div class="main-item" id="discharge-lists" >
          退院後患者一覧
        </div>
        <%= link_to "患者登録", new_patient_path, class: "main-item" %>
      </div>
      <div class="list-group">
        <div class="show-lists hidden" id="current-pull-down">
          <div class="sub-item">
            <%= link_to "入院患者一覧ページ", root_path, class: "sub-item-link" %>
          </div>
          <div class="sub-item">
            <%= link_to "内科病棟患者一覧ページ", current_medicine_patients_path, class: "sub-item-link" %>
          </div>
          <div class="sub-item">
            <%= link_to "外科病棟患者一覧ページ", current_surgery_patients_path, class: "sub-item-link" %>
          </div>
          <div class="sub-item">
            <%= link_to "整形外科患者一覧ページ", current_orthopedics_patients_path, class: "sub-item-link" %>
          </div>
        </div>
        <div class="show-lists hidden" id="discharge-pull-down">
          <div class="sub-item discharge">
            <%= link_to "退院患者一覧ページ", discharged_patients_patients_path, class: "sub-item-link" %>
          </div>
          <div class="sub-item discharge">
            <%= link_to "内科病棟退院患者一覧ページ", discharged_medicine_patients_path, class: "sub-item-link" %>
          </div>
          <div class="sub-item discharge">
            <%= link_to "外科病棟退院患者一覧ページ", discharged_surgery_patients_path, class: "sub-item-link" %>
          </div>
          <div class="sub-item discharge">
            <%= link_to "整形外科退院患者一覧ページ", discharged_orthopedics_patients_path, class: "sub-item-link" %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>